:root {
  --color--breaking: var(--color--yellowlight);
  --color--bruger: var(--color--bluelight);
  --color--eb: var(--color--red);
  --color--eb2: var(--color--reddark);
  --color--live: var(--color--black);
  --color--native: var(--color--sand);
  --color--native2: var(--color--sea);
  --fgcolor--breaking: var(--color--black);
  --fgcolor--bruger: var(--color--white);
  --fgcolor--eb: var(--color--white);
  --fgcolor--eb2: var(--color--white);
  --fgcolor--live: var(--color--white);
  --fgcolor--native: var(--color--white);
  --fgcolor--native2: var(--color--white);
}
