@import '../color-vars.css';

.bg--bordeaux {
  background: var(--color--bordeaux);
  color: var(--fgcolor--bordeaux);
}

.bg--reddark {
  background: var(--color--reddark);
  color: var(--fgcolor--reddark);
}

.bg--red {
  background: var(--color--red);
  color: var(--fgcolor--red);
}

.bg--rose {
  background: var(--color--rose);
  color: var(--fgcolor--rose);
}

.bg--orangedark {
  background: var(--color--orangedark);
  color: var(--fgcolor--orangedark);
}

.bg--orange {
  background: var(--color--orange);
  color: var(--fgcolor--orange);
}

.bg--yellow {
  background: var(--color--yellow);
  color: var(--fgcolor--yellow);
}

.bg--yellowlight {
  background: var(--color--yellowlight);
  color: var(--fgcolor--yellowlight);
}

.bg--sand {
  background: var(--color--sand);
  color: var(--fgcolor--sand);
}

.bg--greendark {
  background: var(--color--greendark);
  color: var(--fgcolor--greendark);
}

.bg--green {
  background: var(--color--green);
  color: var(--fgcolor--green);
}

.bg--greenlight {
  background: var(--color--greenlight);
  color: var(--fgcolor--greenlight);
}

.bg--lime {
  background: var(--color--lime);
  color: var(--fgcolor--lime);
}

.bg--purpledark {
  background: var(--color--purpledark);
  color: var(--fgcolor--purpledark);
}

.bg--bluedark {
  background: var(--color--bluedark);
  color: var(--fgcolor--bluedark);
}

.bg--blue {
  background: var(--color--blue);
  color: var(--fgcolor--blue);
}

.bg--bluelight {
  background: var(--color--bluelight);
  color: var(--fgcolor--bluelight);
}

.bg--sea {
  background: var(--color--sea);
  color: var(--fgcolor--sea);
}

.bg--black {
  background: var(--color--black);
  color: var(--fgcolor--black);
}

.bg--graa1 {
  background: var(--color--graa1);
  color: var(--fgcolor--graa1);
}

.bg--graa2 {
  background: var(--color--graa2);
  color: var(--fgcolor--graa2);
}

.bg--graa3 {
  background: var(--color--graa3);
  color: var(--fgcolor--graa3);
}

.bg--graa4 {
  background: var(--color--graa4);
  color: var(--fgcolor--graa4);
}

.bg--graa5 {
  background: var(--color--graa5);
  color: var(--fgcolor--graa5);
}

.bg--graa6 {
  background: var(--color--graa6);
  color: var(--fgcolor--graa6);
}

.bg--graa7 {
  background: var(--color--graa7);
  color: var(--fgcolor--graa7);
}

.bg--white {
  background: var(--color--white);
  color: var(--fgcolor--white);
}

.bg--pastel-red {
  background: var(--color--pastel-red);
  color: var(--fgcolor--pastel-red);
}

.bg--pastel-darkred {
  background: var(--color--pastel-darkred);
  color: var(--fgcolor--pastel-darkred);
}

.bg--pastel-lightred {
  background: var(--color--pastel-lightred);
  color: var(--fgcolor--pastel-lightred);
}

.bg--pastel-green {
  background: var(--color--pastel-green);
  color: var(--fgcolor--pastel-green);
}

.bg--pastel-darkgreen {
  background: var(--color--pastel-darkgreen);
  color: var(--fgcolor--pastel-darkgreen);
}

.bg--pastel-yellow {
  background: var(--color--pastel-yellow);
  color: var(--fgcolor--pastel-yellow);
}

.color--bordeaux {
  color: var(--color--bordeaux);
}

.color--reddark {
  color: var(--color--reddark);
}

.color--red {
  color: var(--color--red);
}

.color--rose {
  color: var(--color--rose);
}

.color--orangedark {
  color: var(--color--orangedark);
}

.color--orange {
  color: var(--color--orange);
}

.color--yellow {
  color: var(--color--yellow);
}

.color--yellowlight {
  color: var(--color--yellowlight);
}

.color--sand {
  color: var(--color--sand);
}

.color--greendark {
  color: var(--color--greendark);
}

.color--green {
  color: var(--color--green);
}

.color--greenlight {
  color: var(--color--greenlight);
}

.color--lime {
  color: var(--color--lime);
}

.color--purpledark {
  color: var(--color--purpledark);
}

.color--bluedark {
  color: var(--color--bluedark);
}

.color--blue {
  color: var(--color--blue);
}

.color--bluelight {
  color: var(--color--bluelight);
}

.color--sea {
  color: var(--color--sea);
}

.color--black {
  color: var(--color--black);
}

.color--graa1 {
  color: var(--color--graa1);
}

.color--graa2 {
  color: var(--color--graa2);
}

.color--graa3 {
  color: var(--color--graa3);
}

.color--graa4 {
  color: var(--color--graa4);
}

.color--graa5 {
  color: var(--color--graa5);
}

.color--graa6 {
  color: var(--color--graa6);
}

.color--graa7 {
  color: var(--color--graa7);
}

.color--white {
  color: var(--color--white);
}

.color--pastel-red {
  color: var(--color--pastel-red);
}

.color--pastel-darkred {
  color: var(--color--pastel-darkred);
}

.color--pastel-lightred {
  color: var(--color--pastel-lightred);
}

.color--pastel-green {
  color: var(--color--pastel-green);
}

.color--pastel-darkgreen {
  color: var(--color--pastel-darkgreen);
}

.color--pastel-yellow {
  color: var(--color--pastel-yellow);
}

.border--black {
  border-color: var(--color--black);
}

.border--graa1 {
  border-color: var(--color--graa1);
}

.border--graa2 {
  border-color: var(--color--graa2);
}

.border--graa3 {
  border-color: var(--color--graa3);
}

.border--graa4 {
  border-color: var(--color--graa4);
}

.border--graa5 {
  border-color: var(--color--graa5);
}

.border--graa6 {
  border-color: var(--color--graa6);
}

.border--graa7 {
  border-color: var(--color--graa7);
}

.border--white {
  border-color: var(--color--white);
}
