.bg--eb {
  background: #bd1118;
  color: #fff;
}

.bg--eb2 {
  background: #900;
  color: #fff;
}

.bg--breaking {
  background: #ff0;
  color: #000;
}

.bg--bruger {
  background: #4fa8df;
  color: #fff;
}

.bg--live {
  background: #000;
  color: #fff;
}

.bg--native {
  background: #cec4a6;
  color: #fff;
}

.bg--native2 {
  background: #84a8c4;
  color: #fff;
}

.bg--facebook {
  background: #31769b;
  color: #fff;
}

.bg--twitter {
  background: #4fa8df;
  color: #fff;
}

.bg--ekstra {
  background: #bd1118;
  color: #fff;
}

.bg--filmmagasinet {
  background: #650188;
  color: #fff;
}

.bg--flash {
  background: #e5ad02;
  color: #fff;
}

.bg--forbrug {
  background: #31769b;
  color: #fff;
}

.bg--livescore {
  background: #32a237;
  color: #fff;
}

.bg--livescore2 {
  background: #cbfe33;
  color: #000;
}

.bg--nationen {
  background: #e38121;
  color: #fff;
}

.bg--nationen2 {
  background: #e5ad02;
  color: #fff;
}

.bg--nyheder {
  background: #12507b;
  color: #fff;
}

.bg--nyheder2 {
  background: #000;
  color: #fff;
}

.bg--sex-samliv {
  background: #8a0c36;
  color: #fff;
}

.bg--sex-samliv2 {
  background: #dc7095;
  color: #fff;
}

.bg--skolefodbold {
  background: #93b923;
  color: #fff;
}

.bg--sport {
  background: #32a237;
  color: #fff;
}

.bg--tv {
  background: #bd1118;
  color: #fff;
}

.color--eb {
  color: #bd1118;
}

.color--eb2 {
  color: #900;
}

.color--breaking {
  color: #ff0;
}

.color--bruger {
  color: #4fa8df;
}

.color--live {
  color: #000;
}

.color--native {
  color: #cec4a6;
}

.color--native2 {
  color: #84a8c4;
}

.color--facebook {
  color: #31769b;
}

.color--twitter {
  color: #4fa8df;
}

.color--ekstra {
  color: #bd1118;
}

.color--filmmagasinet {
  color: #650188;
}

.color--flash {
  color: #e5ad02;
}

.color--forbrug {
  color: #31769b;
}

.color--livescore {
  color: #32a237;
}

.color--livescore2 {
  color: #cbfe33;
}

.color--nationen {
  color: #e38121;
}

.color--nationen2 {
  color: #e5ad02;
}

.color--nyheder {
  color: #12507b;
}

.color--nyheder2 {
  color: #000;
}

.color--sex-samliv {
  color: #8a0c36;
}

.color--sex-samliv2 {
  color: #dc7095;
}

.color--skolefodbold {
  color: #93b923;
}

.color--sport {
  color: #32a237;
}

.color--tv {
  color: #bd1118;
}
