.bg--eb {
  background: var(--color--eb);
  color: var(--fgcolor--eb);
}

.color--eb {
  color: var(--color--eb);
}

.bg--eb2 {
  background: var(--color--eb2);
  color: var(--fgcolor--eb2);
}

.color--eb2 {
  color: var(--color--eb2);
}

.bg--breaking {
  background: var(--color--breaking);
  color: var(--fgcolor--breaking);
}

.color--breaking {
  color: var(--color--breaking);
}

.bg--bruger {
  background: var(--color--bruger);
  color: var(--fgcolor--bruger);
}

.color--bruger {
  color: var(--color--bruger);
}

.bg--live {
  background: var(--color--live);
  color: var(--fgcolor--live);
}

.color--live {
  color: var(--color--live);
}

.bg--native {
  background: var(--color--native);
  color: var(--fgcolor--native);
}

.color--native {
  color: var(--color--native);
}

.bg--native2 {
  background: var(--color--native2);
  color: var(--fgcolor--native2);
}

.color--native2 {
  color: var(--color--native2);
}

.bg--ekstra {
  background: var(--color--ekstra);
  color: var(--fgcolor--ekstra);
}

.color--ekstra {
  color: var(--color--ekstra);
}

.bg--filmmagasinet {
  background: var(--color--filmmagasinet);
  color: var(--fgcolor--filmmagasinet);
}

.color--filmmagasinet {
  color: var(--color--filmmagasinet);
}

.bg--flash {
  background: var(--color--flash);
  color: var(--fgcolor--flash);
}

.color--flash {
  color: var(--color--flash);
}

.bg--forbrug {
  background: var(--color--forbrug);
  color: var(--fgcolor--forbrug);
}

.color--forbrug {
  color: var(--color--forbrug);
}

.bg--livescore {
  background: var(--color--livescore);
  color: var(--fgcolor--livescore);
}

.color--livescore {
  color: var(--color--livescore);
}

.bg--livescore2 {
  background: var(--color--livescore2);
  color: var(--fgcolor--livescore2);
}

.color--livescore2 {
  color: var(--color--livescore2);
}

.bg--nationen {
  background: var(--color--nationen);
  color: var(--fgcolor--nationen);
}

.color--nationen {
  color: var(--color--nationen);
}

.bg--nationen2 {
  background: var(--color--nationen2);
  color: var(--fgcolor--nationen2);
}

.color--nationen2 {
  color: var(--color--nationen2);
}

.bg--nyheder {
  background: var(--color--nyheder);
  color: var(--fgcolor--nyheder);
}

.color--nyheder {
  color: var(--color--nyheder);
}

.bg--nyheder2 {
  background: var(--color--nyheder2);
  color: var(--fgcolor--nyheder2);
}

.color--nyheder2 {
  color: var(--color--nyheder2);
}

.bg--sex-samliv {
  background: var(--color--sex-samliv);
  color: var(--fgcolor--sex-samliv);
}

.color--sex-samliv {
  color: var(--color--sex-samliv);
}

.bg--sex-samliv2 {
  background: var(--color--sex-samliv2);
  color: var(--fgcolor--sex-samliv2);
}

.color--sex-samliv2 {
  color: var(--color--sex-samliv2);
}

.bg--skolefodbold {
  background: var(--color--skolefodbold);
  color: var(--color--skolefodbold);
}

.color--skolefodbold {
  color: var(--color--skolefodbold);
}

.bg--sport {
  background: var(--color--sport);
  color: var(--color--sport);
}

.color--sport {
  color: var(--color--sport);
}

.bg--tv {
  background: var(--color--tv);
  color: var(--color--tv);
}

.color--tv {
  color: var(--color--tv);
}
