.bg--primary {
  background: var(--color--primary);
  color: var(--fgcolor--primary);
}

.color--primary {
  color: var(--color--primary);
}

.bg--secondary {
  background: var(--color--secondary);
  color: var(--fgcolor--secondary);
}

.color--secondary {
  color: var(--color--secondary);
}
